{% extends 'layout.html' %}
{% block body %}
<div style="text-align:center;">
	<p>
	<div class="btn-group">
		<button type="button" class="btn btn-default" disabled>{{ user.username }}</button>
		{% if user.get('emails')|length > 0 %}
			{% for email in user.get('emails') %}
				<button type="button" class="btn btn-default" disabled>{{ email }}</button>
			{% endfor %}
		{% endif %}
		<button type="button" class="btn btn-default" onclick="window.location='mailto:new@add.postpushr.com?subject={{user.get('_id')}}'">...</button>
	</div>
	</p>
	<br />
	{% if user.get_letters()|length > 0 %}
	{% for l in user.get_letters_reversed().limit(7) %}
	<p class="letter"> <a class="btn btn-primary" href="{{url_for('get_letter',_hash=l.jobid)}}">Letter to {{l.job.to.name|ucfirst}} on {{l.job.date_created|dt}} [${{'%0.2f' % ((l.job.price|float)*1.75)}}]</a></p><br />
	{% endfor %}
	{% else %}
	<p>You haven't sent any documents yet.</p>
	{% endif %}
</div>
{% endblock %}