{% extends 'layout.html' %}
{% block body %}
<div style="outer">
<div class="desc">
	Simply send an email to contact_name@letter.postpushr.com, with your recipient's name (spaces substituted for underscores) as contact_name. Use a valid mailing address as the subject, and type your letter as the body of the email. Hit send, and you should shortly receive a confirmation of your posted letter!
</div>
</div>
<br /><br />
<div>
	<p>
	<div class="btn-group">
		<button type="button" class="btn btn-default" disabled>{{ user.username }}</button>
		{% if user.get('emails') %}
			{% for email in user.get('emails') %}
				<button type="button" class="btn btn-default" disabled>{{ email }}</button>
			{% endfor %}
		{% endif %}
		<button type="button" class="btn btn-default" onclick="$('#add_modal').modal();">...</button>
		<p id="add_info"></p>
	</div>
	</p>
	<br />
	{% if user.get_letters_count() > 0 %}
	<div class="letters">
		{% for l in user.get_letters_reversed().limit(7) %}
		<p class="letter">
			<a class="btn btn-primary" href="{{url_for('get_letter',_hash=l.jobid)}}">Letter to {{l.job.to.name|ucfirst}} on {{l.job.date_created|dt}} [${{'%0.2f' % ((l.job.price|float)*1.75)}}]</a>
		</p>
		<br />
		{% endfor %}
	</div>
	{% else %}
	<p>You haven't sent any documents yet</p>
	{% endif %}
</div>
<div class='modal fade' id='add_modal'>
  <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-header'>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
		<h4 class='modal-title'>Authorize Additional Email</i></h4>
	  </div>
	  <div class='modal-body'>
		<p>
			<a data-toggle='modal' href='mailto:new@add.postpushr.com?subject={{user.get('_id')}}' class='btn btn-info'><span class='glyphicon glyphicon-send'></span> &nbsp; Email Client</a>
			<a data-toggle='modal' target='_blank' href='https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=new@add.postpushr.com&amp;su={{user.get('_id')}}' class='btn btn-info'><span class='glyphicon glyphicon-send'></span> &nbsp; Gmail</a>
			<a data-toggle='modal' onclick='$("#manual_add_modal").modal();' class='btn btn-info'><span class='glyphicon glyphicon-envelope'></span> &nbsp; Other Email</a>
		</p>
	  </div>
	  <div class='modal-footer'>
		<button type='button' onclick='$("#add_modal").modal("hide");' class='btn btn-primary'>Close</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class='modal fade' id='manual_add_modal'>
  <div class='modal-dialog'>
	<div class='modal-content'>
	  <div class='modal-header'>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
		<h4 class='modal-title'>Seller Contact Information</h4>
	  </div>
	  <div class='modal-body'>
	  <p>Send an email with the following details to authorize.</p>
	  <p><b>To:</b> new@add.postpushr.com</p>
	  <p><b>From:</b> Your New Email</p>
	  <p><b>Subject:</b> <code>{{user.get('_id')}}</code> </p>
	  <p><b>Body:</b> Anything </p>
	  </div>
	  <div class='modal-footer'>
		<button type='button'  data-dismiss='modal' class='btn btn-primary'>Close</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}