{% extends 'layout.html' %}
{% block body %}
<div style="outer">
<div class="desc">
PostPushr combines physical delivery with the speed and universality of the cloud. All you have to do is pop open up your email, type out your message, and hit send. Instant confirmation of your now-mailed letter will leave you ever-so-satisfied.</div>
<br />
<div class="desc">Simply sign up for an account below, then send an email to contact_name@letter.postpushr.com, with your recipient's name (spaces substituted for underscores) as contact_name. Use a valid mailing address as the subject, and type your letter as the body of the email. Hit send, and you should shortly receive a confirmation of your posted letter! A low fee of roughly $2.50 is charged per letter.</div>
</div>
<br /><br />
  {% include 'messages.html' %}
  <div class="container">
    <form class="form-signin" role="form" method="POST">
      <input type="email" class="form-control" placeholder="Email" name="email" required autofocus>
      <input type="password" class="form-control last" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In or Register</button>
    </form>

  </div>
{% endblock %}