{% extends 'layout.html' %}
{% block body %}
<div style="text-align:center;width:40%;display: block;margin:auto;">
PostPushr combines physical delivery with the speed and universality of the cloud. <br />All you have to do is pop open up your email, type out your message, and hit send. <br />Instant confirmation of your now-mailed letter will leave you ever-so-satisfied.</div><br /><br />
  {% include 'messages.html' %}
  <div class="container">
    <form class="form-signin" role="form" method="POST">
      <input type="email" class="form-control" placeholder="Email" name="email" required autofocus>
      <input type="password" class="form-control last" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In or Register</button>
    </form>

  </div>
{% endblock %}